<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Đăng ký môn học</title>
    <link href="/qlsv/src/main/resources/static/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/qlsv/src/main/resources/static/js/register.js"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-3" href="index.html">Menu</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" href="index.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                            Trang chủ
                        </a>
                        <a class="nav-link" href="ThongTinSV.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Thông tin sinh viên
                        </a>
                        <a class="nav-link" href="KetQuaHocTap.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Kết quả học tập
                        </a>
                        <a class="nav-link" href="DangKyMonHoc.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Đăng ký môn học
                        </a>
                        <a class="nav-link" href="LichHoc.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-calendar"></i></div>
                            Lịch học
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Đăng nhập với tư cách:</div>
                    Sinh viên
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Đăng ký môn học</h1>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-book-open"></i> Chọn môn học để đăng ký
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="subject">Môn học:</label>
                                    <select class="form-control" id="subject" >
                                        <option  disabled selected>- Chọn môn học -</option>
                                    </select>
                                </div>
                                <div id="subjectDetails" style="display: none;">
                                    <h3>Thông tin môn học</h3>
                                    <p><strong>Số tín chỉ:</strong> <span id="credits"></span></p>
                                    <label for="schedule">Chọn lịch học:</label>
                                    <select class="form-control" id="schedule">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button id="registerButton" type="submit" class="btn btn-primary mt-3">Đăng
                                        ký</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>